<div class="col-md-10" id="maincontents">
  <div class="row">
    <div class="content-box-large">
      <div class="panel-heading">
	<div class="panel-title">Add/Modify template</div>
	<div class="panel-options"></div>
      </div>
      <div class="panel-body">
	<p>Input your template here. Use {{ }} around variables. When you submit your template, you will be asked to define your variables as certain types.</p>
  <p>The following built-in fields are supported: <pre>{{reference}}, {{customer}}, {{location}}</pre></p>
  <p>To refer to inventory tables, use the following syntax: <pre>{{inventory__inventoryname__field__lookupfield}}</pre> where field is the field to be inserted in the template, and the lookupfield is the field you would select in a dropdown</p>
	<% if @update %>
	<p>Note that by editing this template, you must manually update all service forms that reference it.</p>
	<% end %>
	<div class="content-box-large">
	  <form action="/templates/add" method="POST" id="composeformelement">
	    <fieldset>
	      <div class="form-group">
		<label>Name</label>
		<input class="form-control" placeholder="Name" type="text" name="name" value="<%= @template.name rescue "" %>">
	      </div>
	      <div class="form-group">
		<label>Description</label>
		<input class="form-control" placeholder="Description" type="text" name="description" value="<%= @template.description rescue "" %>">
	      </div>
	      <div class="form-group">
		<label>Platform</label>
		<input class="form-control" placeholder="Platform" type="text" name="platform" value="<%= @template.platform rescue "" %>">
	      </div>
	      <div class="form-group">
		<label>Template to Configure service</label>
		<textarea class="configuration form-control" rows="12" placeholder="Enter template here" name="up_contents"><%= @template.up_contents rescue "" %></textarea>
	      </div>
	      <div class="form-group">
		<label>Template to remove service</label>
		<textarea class="configuration form-control" rows="12" placeholder="Enter template here" name="down_contents"><%= @template.down_contents rescue "" %></textarea>
	      </div>

		 </fieldset>
		 <% if @update %>
		 <input type="hidden" name="template_id" value="<%= @template.id %>">
		 <% end %>
	    <button type="submit" class="btn btn-primary">Add template</button>
	  </form>
	</div>
      </div>
    </div>
  </div>
</div>
