<div class="col-md-10" id="maincontents">
  <div class="row">
    <div class="content-box-large">
      <div class="panel-heading">
	<div class="panel-title">Manage forms</div>
	<div class="panel-options"><a href="/forms/compose"><i class="glyphicon glyphicon-plus" id="order_add_btn"></i></a></div>
      </div>
      <div class="panel-body">
	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="ordertable">
	  <thead>
	    <tr>
	      <th>ID</th>
	      <th>Name</th>
	      <th>Description</th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @forms.each do |form| %>
	    <tr>
	      <td><%= form.id %></td>
	      <td><%= form.name %></td>
	      <td><%= form.description %></td>
	      <td>
		<a href="/form/<%= form.id %>"><button class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i>View</button></a>
		<a data-href="/forms/delete/<%= form.id %>" data-toggle="modal" data-target="#confirm-delete" ><button class="btn btn-danger" data-href="/forms/delete/<%= form.id %>" data-toggle="modal"  data-target="#confirm-delete"><i class="glyphicon glyphicon-remove"></i>Delete</button></a>
		<% if form.require_update %>
		<a href="/forms/update/<%= form.id %>"><button class="btn btn-warning"><i class="glyphicon glyphicon-exclamation-sign"></i>Update Required</button></a>
		<% end %>
	      </td>
	    </tr>
	    <% end %>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
